
{% extends 'base.html.twig' %}
  
{% block title %}Nueva mesa{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Crear nueva mesa</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('restaurante_mesas', {'id': restaurante.id}) }}"> 
                    Mesas
                </a>
            </div>
            <div class="card-body">
                 {{ include('mesa/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
